
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  height: 100%;
  background-color: #f5f6fa; 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


:root {
  color-scheme: light;
}
